{:module-uris {:main [], :account-overview ["js/account-overview.js"], :product-detail ["js/product-detail.js"], :product-listing ["js/product-listing.js"], :sign-in ["js/sign-in.js"], :sign-up ["js/sign-up.js"]}, :module-infos {:main nil, :account-overview #{:main}, :product-detail #{:main}, :product-listing #{:main}, :sign-in #{:main}, :sign-up #{:main}}}